@using eCommerce.Shared.DTO;
@model PagedResult<eCommerce.Backend.ViewModel.Products.ProductVM>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">

        @{
            if (Model.Items.Count() == 0)
            {
                <h6>Không tìm thấy sản phẩm</h6>
            }
            else
            {
                <h6>Tìm thấy @Model.Items.Count() sản phẩm</h6>
            }
        }
        @await Component.InvokeAsync("ItemProduct", Model.Items)
    </div>
</div>

@await Component.InvokeAsync("Pager", Model)